.max-main{
    width: 350px;
}

.main_fila {
    display: flex;
    flex-direction: row;
}
/* Muestra el contenido en columnas */
.columns{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.cabecera-main{
    width: 100%;
}

.col-iz{
    width: 100%;
    min-width: 340px;
    max-width: 400px;
}
.col-der{
    width: 100%;
    min-width: 340px;
    max-width: 400px;
}

.caja-main-iz{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
}

.caja-main-der{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #f0f0f0;
    width: 415px;
    border-radius: 5px;
    padding: 15px;
    height: 100%;
}

.titulo-main{
    color: #555555;
    padding: 10px 0px;
}

.subitulo-main{
    font-size: 24px;
    color: #555555;
}

.icon-casa{
    color: #456F97;
    font-size: 24px;
}

.cont_foto_usuario{
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.title-icon{
    width:34px;
    padding-top:4px;
    font-size:20px;
}

@media only screen and (max-width: 855px){
    .main_fila{
        flex-direction: column;
        width: 100%;
    }

    .caja-main-iz{
        width: 100%;
        min-width: 100px;
    }

    .caja-main-der{
        width: 100%;
        min-width: 100px;
    }
    .col-iz{
        max-width: 100%;
        min-width: 100px;
    }
    .col-der{
        max-width: 100%;
        min-width: 100px;
    }
}